<!DOCTYPE html>
<html lang="en">

<head>
  <title>Messages</title>
  <link rel="stylesheet" href="style/deafult.css" />
  <link rel="stylesheet" href="style/menu.css" />
  <link rel="stylesheet" href="style/secordary.css" />
  <link rel="stylesheet" href="style/header.css" />
  <link rel="stylesheet" href="style/simulate-js.css" />
  <link rel="stylesheet" href="style/chat-list.css" />
  <link rel="stylesheet" href="style/open-chat.css" />
</head>

<body>
  <!-- menu -->
  <nav class="menu">
    <div class="menu-buttons">
      <!-- TODO: 该不该用button？ -->
      <button type="button" class="circle blue selected"></button>
      <button type="button" class="circle purple"></button>
      <button type="button" class="circle orange"></button>
      <button type="button" class="circle more"></button>
    </div>

    <div class="bottom-menu-buttons">
      <a href="#">
        <div class="icon grid"></div>
      </a>
      <a href="#">
        <div class="icon settings"></div>
      </a>
    </div>
  </nav>

  <!-- secondary -->
  <aside class="secondary">
    <div class="main-part">
      <div class="part1">
        <div class="classification settings">MENU</div>
        <a href="#">
          <div class="item overview">Overview</div>
        </a>
        <a href="#">
          <div class="item sales reminding">Sales</div>
        </a>
        <a href="#">
          <div class="item staff">Your Staff</div>
        </a>
        <a href="#">
          <div class="item a&t">Analytics & Targeting</div>
        </a>
        <a href="#">
          <div class="item new">What's New</div>
        </a>
      </div>

      <div class="divider"></div>

      <div class="part2">
        <div class="classification settings">YOUR PRODUCTS</div>
        <a href="#">
          <div class="item books">Books</div>
        </a>
        <a href="#">
          <div class="item tutorials">Tutorials</div>
        </a>
        <a href="#">
          <div class="item stocks">Stocks</div>
        </a>
        <a href="#">
          <div class="item infographics">Infographics</div>
        </a>
      </div>

      <div class="divider"></div>

      <div class="part3">
        <div class="classification settings">DASHBOARD</div>
        <a href="#">
          <div class="item messages reminding selected">Messages</div>
        </a>
        <a href="#">
          <div class="item connections">Connections</div>
          <div class="item intergrations warning">Intergrations</div>
        </a>
        <a href="#">
          <div class="item account-settings">Account Settings</div>
        </a>
        <a href="#">
          <div class="item app-settings">App Settings</div>
        </a>
      </div>
    </div>
    <div class="bottom">
      <span class="bold">Monthly Goals</span>
      <div class="money">
        <span class="bold">$580</span><span>/$3200</span>
      </div>
      <div class="progress-bar"></div>
    </div>
  </aside>

  <!-- main -->
  <div class="main">
    <!-- header -->
    <header>
      <h1>Messages</h1>
      <div class="profile">
        <div class="avatar">
          <img src="imgs/avatars/avatar_00.png" alt="my avatar" title="more..." />
        </div>
        <div class="status"></div>
        <div class="description">
          <span class="name"><a class="me" href="#">Ceynri</a></span>
        </div>
        <a href="#">
          <div class="dropdown-button"></div>
        </a>
      </div>
    </header>

    <!-- chat-window -->
    <div class="chat-window">
      <div class="chat-list">
        <form class="search">
          <input type="text" name="search" value="" placeholder="Search" />
        </form>

        <div class="list">

          <div class="card selected">
            <div class="wrapper">
              <div class="avatar">
                <img src="imgs/avatars/avatar_01.png" alt="avatar" />
              </div>
              <div class="description">
                <span class="name">Manticore</span>
                <span class="company">Twitter</span>
              </div>
              <div class="time">3m</div>
            </div>
            <div class="info-container reminding">
              <div class="info">
                I pay for the 4Mb/sec down, 512 Kb/sec up service from O2. In fact, it's relatively quick, and stable...
              </div>
            </div>
          </div>

          <div class="card">
            <div class="wrapper">
              <div class="avatar">
                <img src="imgs/avatars/avatar_02.png" alt="avatar" />
              </div>
              <div class="description">
                <span class="name">Sora</span>
                <span class="company">Adobe</span>
              </div>
              <div class="time">8m</div>
            </div>
            <div class="info-container">
              <div class="info">
                I shared this on my fb wall a few months back, and I thought I'd share it here again because it's such a
                great...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="wrapper">
              <div class="avatar">
                <img src="imgs/avatars/avatar_03.png" alt="avatar" />
              </div>
              <div class="description">
                <span class="name">Blue Poison</span>
                <span class="company">Facebook</span>
              </div>
              <div class="time">Yesterday</div>
            </div>
            <div class="info-container">
              <div class="info">
                If there is anyone who needs an invitation please add yourself in the comments of this post!
              </div>
            </div>
          </div>
          <div class="card">
            <div class="wrapper">
              <div class="avatar">
                <img src="imgs/avatars/avatar_04.png" alt="avatar" />
              </div>
              <div class="description">
                <span class="name">Myrrh</span>
                <span class="company">Yahoo</span>
              </div>
              <div class="time">Yesterday</div>
            </div>
            <div class="info-container">
              <div class="info">
                BruteDC is a peer-to-peer movie+tv series sharing and downloading platform which works on intranet
                inside...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="wrapper">
              <div class="avatar">
                <img src="imgs/avatars/avatar_05.png" alt="avatar" />
              </div>
              <div class="description">
                <span class="name">Slience</span>
                <span class="company">Snapchat</span>
              </div>
              <div class="time">13 Jun</div>
            </div>
            <div class="info-container">
              <div class="info">
                Yes, p2p traffic is often filtered (QoSed). Although i do use BT on O2 wires, and in good days dl
                speed...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="wrapper">
              <div class="avatar">
                <img src="imgs/avatars/avatar_06.png" alt="avatar" />
              </div>
              <div class="description">
                <span class="name">Истина</span>
                <span class="company">Twitter</span>
              </div>
              <div class="time">12 Jun</div>
            </div>
            <div class="info-container">
              <div class="info">
                Yes, it's O2: 'internet extreme', which is no longer offered.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="wrapper">
              <div class="avatar">
                <img src="imgs/avatars/avatar_07.png" alt="avatar" />
              </div>
              <div class="description">
                <span class="name">amiya</span>
                <span class="company">A Team</span>
              </div>
              <div class="time">9 Jun</div>
            </div>
            <div class="info-container">
              <div class="info">
                I change my service from this 4Mb plan to their much cheaper 8Mb plan, my speed will dramatically
                decrease.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="wrapper">
              <div class="avatar">
                <img src="imgs/avatars/avatar_08.png" alt="avatar" />
              </div>
              <div class="description">
                <span class="name">Firewatch</span>
                <span class="company">Tencent</span>
              </div>
              <div class="time">2 Jun</div>
            </div>
            <div class="info-container">
              <div class="info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="wrapper">
              <div class="avatar">
                <img src="imgs/avatars/avatar_09.png" alt="avatar" />
              </div>
              <div class="description">
                <span class="name">Texas</span>
                <span class="company">Alibaba</span>
              </div>
              <div class="time">1 Jun</div>
            </div>
            <div class="info-container">
              <div class="info">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- open-chat -->
      <div class="open-chat">
        <!-- chat-header -->
        <header class="chat-header">
          <h1>Manticore</h1>
          <div class="buddy-btn btns">
            <a href="#">
              <div class="add-buddy btn"></div>
            </a>
            <a href="#">
              <div class="buddy-details btn"></div>
            </a>
            <a href="#">
              <div class="remote-buddy btn"></div>
            </a>
          </div>

          <div class="divider"></div>

          <span class="page-num">1 of 28</span>

          <div class="turn-page-btn btns">
            <a href="#">
              <div class="page-up btn">
                <div></div>
              </div>
            </a>
            <a href="#">
              <div class="page-down btn">
                <div></div>
              </div>
            </a>
          </div>
        </header>

        <!-- chat-content -->
        <div class="chat-content">
          <div class="msg-block">
            <div class="avatar"><img src="imgs/avatars/avatar_01.png"></div>
            <section class="msg">
              <h1>Manticore</h1><time>8:31 AM</time>
              <p>
                Hi guys Ive got the O2 package and have really slow internet. A speed check online said i can get 3mbps
                but it seems more like 0.5 these days, just freezing and taking ages to open pages and open audio files
                for example. I have decided to switch to the UPC package which offers 10mbps but do you think i will get
                it?
              </p>
            </section>
          </div>

          <div class="msg-block">
            <div class="avatar"><img src="imgs/avatars/avatar_00.png"></div>
            <section class="msg">
              <h1>Ceynri</h1><time>8:31 AM</time>
              <p>
                I have internet for 9 month and nevere could benefit from the full capacity of 5Mbit/s as it is filtered
                by O2 when it detect traffic on public p2p sharing in my situation all my internet speed slows to
                512Kbit/s. I never had 400KB/s on when downloading from p2p public servers like torrent emule etc. I
                downoad with 500KB/s from private trakers instead. So conlcusion O2 block trafic on p2p connections. I
                have made hundreds of test in Italy and Sweden and Romania with the same file to doanload with the same
                setting and same antivirus and just needed to open ports in firewall and forward same ports and the
                speed
                was at full capacity in 1 minute. here in 9 month never had this luck.
              </p>
            </section>
          </div>

          <div class="divider">
            <span class="text">Tuesday</span>
          </div>

          <div class="msg-block">
            <div class="avatar"><img src="imgs/avatars/avatar_01.png"></div>
            <section class="msg">
              <h1>Manticore</h1><time>8:31 AM</time>
              <p>
                Funny comparison. so would the proper antivirus not slow down the internet as much or do you mean a
                freebie doenst protect the computer from viruses?
              </p>
            </section>
          </div>

          <div class="msg-block">
            <div class="avatar"><img src="imgs/avatars/avatar_00.png"></div>
            <section class="msg">
              <h1>Ceynri</h1><time>8:31 AM</time>
              <p>
                I pay for the 4Mb/sec down, 512 Kb/sec up service from O2, and haven't had any problems. In fact, it's
                relatively quick, and stable. It's not perfect, but I really don't have issues, as long as I keep track
                of what I'm doing on it. I max out at about 3 Mb/sec down, and 350 Kb/sec up. Probably because of a
                noisy telephone line, not because I'm being throttled. When my uploads go over 25 KB/sec (note, bytes,
                not bits), my download speed suffers. This is expected, as downloads require upload bandwidth as well.
              </p>
              <div class="photos">
                <a href="#">
                  <div class="photo"></div>
                </a>
                <a href="#">
                  <div class="photo"></div>
                </a>
              </div>
            </section>
          </div>

          <div class="divider new">
            <span class="text">New Messages</span>
          </div>

          <div class="msg-block">
            <div class="avatar"><img src="imgs/avatars/avatar_01.png"></div>
            <section class="msg">
              <h1>Manticore</h1><time>8:31 AM</time>
              <p>
                I pay for the 4Mb/sec down, 512 Kb/sec up service from O2. In fact, it's relatively quick, and stable.
                It's not perfect, but I really don't have issues, as long as I keep track of what I'm doing on it.
              </p>
            </section>
          </div>

        </div>

        <!-- msg input -->
        <div class="msg-input">
          <button>+</button>
          <input value="Well, kinda both :) but more of that second option, ">
        </div>
      </div>
    </div>
  </div>
</body>

</html>