* {
    /* border-box模式会使width算上padding与border的宽度 */
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

.reminding::after {
    content: "";
    background-image: linear-gradient(#2ea1f8, #1992eb);
    font-size: 14px;
    line-height: 1.785;
    color: #fff;

    height: 25px;
    /* 不能用50% */
    border-radius: 25px;
    padding: 0 9px;

    position: absolute;
    /* 右对齐 */
    right: 0;
    /* 水平对齐 */
    top: -4px;
}

.warning::after {
    content: "!";
    background-image: linear-gradient(#f35338, #cc280b);
    font-size: 14px;
    line-height: 1.785;
    color: #fff;

    height: 25px;
    border-radius: 25px;
    padding: 0 10px;

    position: absolute;
    right: 0;
    top: -4px;
}

/* 侧栏 */

.secondary {
    color: #b7c0cd;
}

/* 主窗口 */

.main {
    color: #585d68;
}

.main .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.main .avatar img {
    width: 50px;
    height: 50px;
}

/* 聊天框架 */

.main .chats {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
}