.main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 350px;
}

/* 顶栏 */

.main>header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    min-width: 750px;

    border-bottom: 1px solid #e3e6ea;
}

.main>header h1 {
    font-size: 24px;
    font-weight: normal;
    /* 首字母大写 */
    text-transform: capitalize;
    margin: 0;
    padding: 24px 30px;
    /* 垂直居中 */
    position: absolute;
    top: 40px;
    transform: translateY(-50%);
}

/* 个人信息 */

.main>header .profile {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 30px;
    height: 80px;
    border-bottom: 1px solid #e3e6ea;
    overflow: hidden;
    /* 横向宽度不足时盖过标题（真不足时其实已经不适合浏览了） */
    background: #fff;
}

/* 头像 */

.main>header .profile .avatar {
    float: left;
    margin-right: 20px;
}

.main>header .profile .status {
    position: absolute;
    top: 45px;
    left: 60px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}

/* 利用伪元素画个圆圈 */
.main>header .profile .status::after {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 3px;
    left: 3px;
    border: 3px solid #369a64;
    border-radius: 50%;
}

.main>header .profile .description {
    display: inline-block;
    /* 居中 */
    position: relative;
    top: 25px;
    transform: translateY(-50%);
}

.main>header .profile .description span.name {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #2489d4;
}

.main>header .profile>a {
    display: inline-block;
    margin-left: 36px;
}

.main>header .profile .dropdown-button {
    display: block;
    width: 11px;
    height: 7px;
    /* 垂直居中 */
    position: relative;
    top: -4px;
    background: url(../imgs/icons/dropdown.png);
}