/* 放一些本来应该由js生成比较合适的css */

.secondary .sales.item::after {
    content: "54";
}

.secondary .messages.item::after {
    content: "21";
}

.main header .profile .description span.name::after {
    display: block;
    content: "Administrator";
    font-size: 14px;
    font-weight: normal;
    color: #b7c0cd;
}

.main .chats .chat-list .list .card .info-container.reminding::after {
    content: "4";
}
