body {
    margin: 0;
    padding: 0;
}

.container {
    /* 占据100%浏览器窗口高度的尺寸 */
    height: 100vh;
    display: flex;
    /* 垂直居中 */
    align-items: center;
    /* 水平居中 */
    justify-content: center;
}

.btn {
    position: relative;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #3498db;

    overflow: hidden;
    background: none;

    font-size: 20px;
    font-family: 'Microsoft YaHei';
    
    cursor: pointer;
    transition: .5s;
}

.btn1,
.btn2 {
    color: #3498db;
}

.btn3,
.btn4 {
    color: #fff;
}

.btn1:hover,
.btn2:hover {
    color: #fff;
}

.btn3:hover,
.btn4:hover {
    color: #3498db;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;

    background: #3498db;
    /* 置底以避免盖住btn内容 */
    z-index: -1;
    transition: .5s;
}

.btn1::before,
.btn3::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn2::before,
.btn4::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn3::before,
.btn4::before {
    height: 200%;
}

.btn1:hover::before,
.btn2:hover::before {
    height: 200%;
}

.btn3:hover::before,
.btn4:hover::before {
    height: 0%;
}