/* 聊天框架 */

.main .chats {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
}

.main .chats .chat-list {
    /* position: absolute;
    top: 0;
    right: 400px;
    left: 0;
    bottom: 0; */

    position: relative;
    flex: 1;
    border-right: 1px solid #e3e6ea;
}

/* 搜索框 */

.main .chats .chat-list .search {
    /* width: 100%; */
    display: flex;
    border-bottom: 1px solid #e3e6ea;
}

.main .chats .chat-list .search input {
    margin: 18px 30px;
    padding: 0 14px;
    border: 1px solid #e3e6ea;
    height: 35px;
    flex: auto;
}

/* list */

.main .chats .chat-list .list {
    overflow: scroll;
    position: absolute;
    top: 72px;
    bottom: 0;
    left: 0;
    right: 0;
}

/* 隐藏滚动条 */
.main .chats .chat-list .list::-webkit-scrollbar {
    width: 0;
}

.main .chats .chat-list .list .card {
    box-sizing: border-box;
    padding: 15px 30px;
    width: 100%;
    border-bottom: 1px solid #e3e6ea;
}