/* 左侧栏 */

nav.menu {
    background: #1d2531;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100vh;

    /* 以防当浏览器垂直高度过小 */
    overflow: scroll;
    /* IE10/Edge 去除滚动条 */
    -ms-overflow-style: none;
    /* firefox 64 隐藏滚动条 */
    scrollbar-color: transparent transparent;
    /* firefox 64 去除滚动条 */
    scrollbar-width: none;
}
.menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}
/* 左侧栏按钮 */

nav.menu button {
    /* background: transparent; */
    border: 0;
    margin: 0;
    padding: 0;
    /* 去掉选中后的蓝色框框 */
    outline: none;
}

nav.menu button:hover {
    cursor: pointer;
}

nav.menu .menu-buttons {
    padding: 20px;
}

nav.menu .menu-buttons button {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    margin-bottom: 20px;
    position: relative;
}

nav.menu .menu-buttons button:last-child {
    margin-bottom: 0;
}

/* 按钮背景 */

nav.menu .menu-buttons button.blue {
    background-image: linear-gradient(#2ea1f8, #1992eb);
}

nav.menu .menu-buttons button.purple {
    background-image: linear-gradient(#9c8ee3, #7b59df);
}

nav.menu .menu-buttons button.orange {
    background-image: linear-gradient(#f35338, #cc280b);
}

nav.menu .menu-buttons button.more {
    border: 3px solid #9fa9ba;
    background: transparent;
    opacity: .125;
}

/* 按钮icon */

nav.menu .menu-buttons button::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

nav.menu .menu-buttons button.blue::after {
    background-image: url("../imgs/icons/item1.png");
    /* 由于该icon的视觉位置偏移，单独调整位置 */
    top: 2px;
    left: 1px;
}

nav.menu .menu-buttons button.purple::after {
    background-image: url("../imgs/icons/item2.png");
}

nav.menu .menu-buttons button.orange::after {
    background-image: url("../imgs/icons/item3.png");
}

nav.menu .menu-buttons button.more:after {
    /* 减掉border的位置 */
    transform: translate(-3px, -3px);
    background-image: url("../imgs/icons/add-icon.png");
}

/* 左侧栏底下 */

nav.menu .bottom-menu-buttons {
    position: fixed;
    font-size: 0;
    padding: 20px 25px;
    left: 0;
    bottom: 0;
    /* 盖住当浏览器垂直高度过小时，上面的icon挤到下面来的问题 */
    background: #1d2531;
}

nav.menu .bottom-menu-buttons .grid {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../imgs/icons/grid.png);
}

nav.menu .bottom-menu-buttons .settings {
    width: 16px;
    height: 16px;
    margin-left: 15px;
    display: inline-block;
    background: url(../imgs/icons/settings.png);
}

/* 被选中的项目 */

nav.menu button.selected::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #2399f1;
    box-shadow: 0 0 8px #2399f1;

    position: absolute;
    top: 28px;
    left: -21px;
}